In [40]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('/content/housing[1].csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [5]:
df.shape

(20640, 10)

In [9]:
df = df.dropna()
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  int64
dtypes: float64(9), int64(1)
memory usage: 1.7 MB

In [23]:
df['ocean_proximity'].value_counts()

ocean_proximity
0    9034
1    6496
2    2628
3    2270
4       5
Name: count, dtype: int64

In [22]:
df.replace({'ocean_proximity': {'<1H OCEAN':0,'INLAND': 1, 'NEAR OCEAN': 2, 'NEAR BAY':3,'ISLAND':4}}, inplace=True)

In [71]:
X = df.drop(columns='median_house_value', axis=1)
Y = df['median_house_value']

In [49]:
scaler = StandardScaler()
scaler.fit(X)
standarised = scaler.transform(X)

X=standarised

print(X)

[[-1.32731375  1.05171726  0.98216331 ... -0.97683327  2.34516291
   2.08112183]
 [-1.32232256  1.04235526 -0.60621017 ...  1.67037262  2.33263161
   2.08112183]
 [-1.33230494  1.03767426  1.85576873 ... -0.84342665  1.78293943
   2.08112183]
 ...
 [-0.82320322  1.77727236 -0.92388486 ... -0.17377773 -1.14317103
   0.09017854]
 [-0.87311515  1.77727236 -0.84446619 ... -0.39350628 -1.05513604
   0.09017854]
 [-0.83318561  1.74918635 -1.00330353 ...  0.07995643 -0.78060586
   0.09017854]]

In [72]:
X_test,X_train,Y_test,Y_train = train_test_split(X,Y,test_size=0.30)

In [73]:
model = RandomForestRegressor()

In [74]:
train = model.fit(X_train,Y_train)

In [77]:
X_train_pred = model.predict(X_train)
train_mse = mean_squared_error(Y_train,X_train_pred)
train_r2 = r2_score(Y_train,X_train_pred)
print(train_mse)
print(train_r2)

392841297.53907764
0.9701107482932946

In [78]:
X_test_pred = model.predict(X_test)
test_mse = mean_squared_error(Y_test,X_test_pred)
test_r2 = r2_score(Y_test,X_test_pred)
print(test_mse)
print(test_r2)

2828023246.840168
0.7889819658684771